.idea

script-a-master/Serverside/.idea
script-a-master/Serverside/.vs
script-a-master/Serverside/AltV.Roleplay/bin
script-a-master/Serverside/AltV.Roleplay/obj
script-a-master/Serverside/DiscordWebhook/bin
script-a-master/Serverside/DiscordWebhook/obj
script-a-master/Serverside/SaltyChat.Server/bin
script-a-master/Serverside/SaltyChat.Server/obj

script-a-master/Clientside/AltV.Roleplay/node_modules
script-a-master/Clientside/AltV.Roleplay/.vscode
script-a-master/Clientside/AltV.Roleplay/package-lock.json

script-a-master/Server/cache
script-a-master/Server/node_modules
script-a-master/Server/package-lock.json
script-a-master/Server/server.log
