[submodule "maps"]
	path = script-a-master/Server/maps
	url = https://chaosfreak93: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@github.com/chaosfreak93/MetroV-Maps.git
	branch = master
[submodule "cars"]
	path = script-a-master/Server/cars
	url = https://chaosfreak93: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@github.com/chaosfreak93/MetroV-Cars.git
	branch = master
