[submodule "script-a-master/Server/cars"]
	path = script-a-master/Server/cars
	url = https://github.com/chaosfreak93/MetroV-Cars
[submodule "script-a-master/Server/maps"]
	path = script-a-master/Server/maps
	url = https://github.com/chaosfreak93/MetroV-Maps
