.idea

/script-a-master/Altv-Roleplay/.idea
/script-a-master/Altv-Roleplay/AltV.Roleplay/bin/
/script-a-master/Altv-Roleplay/AltV.Roleplay/obj/
/script-a-master/Altv-Roleplay/DiscordWebhook/bin/
/script-a-master/Altv-Roleplay/DiscordWebhook/obj/
/script-a-master/Altv-Roleplay/SaltyChat.Server/bin/
/script-a-master/Altv-Roleplay/SaltyChat.Server/obj/

/script-a-master/Server/cache
/script-a-master/Server/node_modules
/script-a-master/Server/package-lock.json
/script-a-master/Server/server.log
/script-a-master/Server/server.cfg
